# 依赖目录
node_modules/

# 环境变量
.env

# MacOS / Windows 系统文件
.DS_Store
Thumbs.db

# 日志
*.log
npm-debug.log*
tools/netease-api-sim/runs/

# Electron 打包及构建输出目录
dist/
dist-release/
build/
out/
release/

# IDE 和编辑器配置文件
.vscode/
.idea/